html {
    height: 100%;
}

body, .container-fluid {
    min-height: 100vh;
}

.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

#menu-panel {
    background-color: black;
    color: lightgrey;
}

#map-panel {

}
