@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html {
    height: 100%;
}

body, .container-fluid {
    min-height: 100vh;
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

#menu {
    color: #F8FDFF;
    background-color: #03618A;
    text-align: center;
}

#map-panel {
    height: 100vh;
}

#panel {
    z-index: 1000;
    position:absolute;
    left:10px;
    top: 50px;
}

.option {
    max-width: 100%;
    font-size: 1.3em;

}

.fa {
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    line-height: 25px;
    vertical-align: middle;
    /*font-weight: bold;*/
}

#filterButtons {
    height: 25px;
}

#filterButtons > a {
    line-height: 25px;
    margin-top: 10px;
    width: 100%;
}

.information, .filters {
    margin-top: 25px;
    color: #373737;
}

#info-panel {
    display: none;
}

.mapMarkerTitle {
    font-size: 0.9em;
}

.btn-info {
    background-color: #46bcec;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    vertical-align: middle;
}

